 <%= simple_form_for @share_form, url: send_email_image_path(params[:id]), method: :post do |f| %>
    <%= hidden_field_tag 'id', params[:id] %>
    <div class="row">
      <div class="col md-6">
        <%= image_tag(Image.find(params[:id]).url, class:'js-image') %>
      </div>
      <div class="col md-6">
        <%= f.input :email, label: 'Email', placeholder: 'first.last@example.com', input_html: { class: 'js-email form-control' } %><br/>
        <%= f.input :message, label: 'Message', placeholder: 'Enter message here', input_html: { class: 'js-message form-control' } , required: false %><br/>
        <%= f.submit 'Send Email', class: 'btn btn-outline-primary' %>
      </div>
    </div>
<% end %>
